body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

h1 {
  margin: 0;
}

header {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

header a {
  padding: 0.75rem;
  display: flex;
  gap: 0.2rem;
  text-decoration: none;
  color: black;

  & h1 {
    margin: 0;
  }

  border-radius: 0.5rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.likes {
  display: flex;
  align-items: center;
  gap: 0.1rem;

  & svg {
    padding: 0.3rem;
    border-radius: 50%;
  }

  & svg:hover {
    background-color: rgba(0, 0, 0, 0.025);
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button {
    background-color: rgba(76, 174, 79, 1);
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 0.4rem;

    &:hover {
      background-color: rgba(76, 174, 79, 0.8);

    }
  }
}

main {
  max-width: 100%;
  padding: 1rem;
}

main .main-wrapper {
  margin: 0 auto;
  padding: 0.4rem;
  border-radius: 0.75rem;
  border: 2px solid black;
  max-width: 900px;

  & section {
    gap: 0.5rem;
    display: flex;

    flex-direction: column;
  }
}

.sok-wrapper {
  display: flex;
  gap: 0.3rem;
  padding: 0.5rem;
  flex-direction: column;
}

.sok-container {
  display: flex;
  gap: 0.2rem;
  justify-content: space-between;
}

.sok-wrapper label {
  font-size: 1rem;

  & h1 {
    padding: 0;
    margin: 0;
  }
}

.sok-container input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.6rem;
  font-size: 1.2rem;
  border: 2px solid lightgray;
}

.sok-container button {
  padding: 0 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: rgba(76, 174, 79, 1);
  border: 1px solid black;
}

.kort {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(211, 211, 211, 0.277)
}

.kort-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

}