@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title-primary {
  color: rgba(0, 0, 0, 0.8) !important;
}

body {
  font-family: "Roboto";
  min-height: 100vh;
  max-width: 100vw !important;
}

.hero {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr auto;
}

.hero-img {
  height: calc(100vh - 89px) !important;

  & img {
    height: 100%;
  }
}


.hero-title {
  font-size: 3.6rem;
  font-weight: 700;
}

.hero-nav {
  padding: 1rem;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-block: auto;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 3rem;
}

.hero-left {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.bottom-header {
  position: sticky;
  top: 0;
  bottom: -20vh;
  background: white;
  outline: 2px solid gray;
  padding-block: 1rem;
}

.bottom-header nav {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
}

.bottom-header nav a {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  color: #000;
  transition: color .3s ease;

  &:hover {
    color: rgba(76, 174, 79, 1);
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.other {
  height: 100vh;
  background-color: lightyellow;
}

.other2 {
  height: 100vh;
  background-color: lightblue;
}

.hero-btn {
  outline: none;
  background-color: rgba(76, 174, 79, 0.8);
  border: 1px solid black;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 1.75rem;
  border-radius: 5px;
  transition: 0.1s ease;
}

.hero-btn:hover {
  background-color: rgba(76, 174, 79, 0.7);
  transform: scale(1.01);

}

.content-wrapper {
  display: flex;
  gap: 5rem;
  padding-block: 5rem;
  flex-direction: column;
  width: 100%;
}

.thing-container {
  margin-inline: auto;
  max-width: 800px;
  border: 3px solid rgba(76, 174, 79, 0.7);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "tl img"
    "bl img";
  column-gap: 5rem;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: space-between;


}

.thing-container-r {
  margin-inline: auto;
  max-width: 800px;
  border: 3px solid rgba(76, 174, 79, 0.7);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  display: grid;
  column-gap: 5rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: space-between;

  grid-template-areas:
    "img tl"
    "img bl";
}

.thing-container h1 {
  grid-area: tl;
  margin-top: auto;
  font-size: 2.5rem;
  color: #353535;
}

.thing-container p {
  grid-area: bl;
  margin-bottom: auto;

}

.thing-container img {
  grid-area: img;
  height: 200px;
  border-radius: 5px;
}

.thing-container-r h1 {
  grid-area: tl;
  margin-top: auto;
  font-size: 2.5rem;
  position: relative;
  color: #353535;
}

.thing-container-r p {
  grid-area: bl;
  margin-bottom: auto;

}

.thing-container-r img {
  grid-area: img;
  height: 200px;
  border-radius: 5px;
}


footer {
  background-color: rgba(76, 174, 79, 0.7);
  padding-block: 1rem;

}

footer ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 500px;
  margin-inline: auto;
  list-style: none;
}

footer ul a {
  text-decoration: none;
  color: black;
}